.filters--button .active {
  background: #282828;
  color: white;
}
.filters--button > button {
  border: none;
}
.filters--button {
  padding: 13px 25px;
  font-size: 16px;
  font-weight: 800;
  border-radius: 20px;
  margin: 10px;
}
